<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="/public/images/LifePulse.svg" alt="LifePulse Logo" height="50" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/events/create">Create an event</a>
      </li>
      {{#unless user}}
      <li class="nav-item">
        <a class="nav-link" href="/auth/login">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/register">Sign Up</a>
      </li>
      {{/unless}}
      {{#if user}}
      <li class="nav-item">
        <a class="nav-link" href="/user/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/logout">Logout</a>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>