<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body text-center">
          <h1 class="mb-4">Welcome to LifePulse</h1>
          {{#unless user}}
          <a href="/auth/login" class="btn btn-primary mr-2">Login</a>
          <a href="/auth/register" class="btn btn-secondary">Register</a>
          {{/unless}}
        </div>
      </div>
    </div>
  </div>
</div>
